= devise_error_messages!
.form-card
  %h2 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.hidden_field :reset_password_token
    .form-password= f.password_field :password, placeholder: 'New password', autofocus: true
    .form-password= f.password_field :password_confirmation, placeholder: 'Confirm new password'
    .form-button= f.submit "Change my password"
